<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>退出成功</title>
    <style>
        a{text-decoration: none;
        text-underline: none;color: #3B5998}
    </style>
</head>
<body>
<div id="box"></div>
<script>
    var box = document.getElementById("box");
    var count = 5;
    var speed = 1000;
    setTimeout(go,speed);
    function go() {
        count--;
        box.innerHTML = "<a href='/'><h1>您已安全退出，页面将在" + count + "秒后跳转</h1></a>";
        if(count <= 0){
            window.location.href = "/";
        }else{
            setTimeout(arguments.callee,speed); // 递归调用
        }
    }
</script>
</body>
</html>