<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fline.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.fline.model.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="zcsj" jdbcType="TIMESTAMP" property="zcsj" />
  </resultMap>
  <sql id="Base_Column_List">
    id, openid, code, realname, zcsj
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="getUserList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
    </select>

    <select id="getUserByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where openid = #{openid,jdbcType=VARCHAR}
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fline.model.User">
    insert into user (id, openid, code, 
      realname, zcsj)
    values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}, 
      #{realname,jdbcType=VARCHAR}, #{zcsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fline.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="zcsj != null">
        zcsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="zcsj != null">
        #{zcsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fline.model.User">
    update user
    <set>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="zcsj != null">
        zcsj = #{zcsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fline.model.User">
    update user
    set openid = #{openid,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER},
      realname = #{realname,jdbcType=VARCHAR},
      zcsj = #{zcsj,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>